{
  "presets": ["@babel/env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@core": "../core",
          "@config": "./src/Config"
        }
      }
    ]
  ]
}
